<div class="p-3 row d-flex justify-content-around">
    <div class="col-6">
        <div class="card h-100">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title">WiredIn</h5>
                    <i class="fa fa-github" (click)="wiredIn()"></i>
                </div>
                <p class="card-text font">
                    LinkedIn like application specially catered for software engineers. Made as part of a group project using PHP, MySQL, and Bootstrap.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card h-100">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title">Safe Campus</h5>
                    <i class="fa fa-github" (click)="safeCampus()"></i>
                </div>
                <p class="card-text font">
                    Android application that allows user to alert campus security with a message and location with the click of a button. Made using Java and Android Studio.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>