<div class="p-3 row d-flex justify-content-around">
    <div class="col-6">
        <div class="card h-100">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h4 class="card-title">{{wired_in.name}}</h4>
                    <i class="fa fa-github" (click)="wired_in_link()"></i>
                </div>
                <p class="card-text lead">
                    {{wired_in.desc}}
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/eFTLKWw542g" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card h-100">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h4 class="card-title">{{safe_campus.name}}</h4>
                    <i class="fa fa-github" (click)="safe_campus_link()"></i>
                </div>
                <p class="card-text lead">
                  {{safe_campus.desc}}
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/G5pLbGvhgb0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="p-3 row d-flex justify-content-around">
  <div class="col-6">
      <div class="card h-100">
          <div class="card-body">
              <div class="d-flex justify-content-between">
                  <h4 class="card-title">{{dogs_ceo.name}}</h4>
                  <i class="fa fa-github" (click)="dogs_api_link()"></i>
              </div>
              <p class="card-text lead">
                  {{dogs_ceo.desc}}
              </p>
              <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mF3cXOaGKrI" allowfullscreen></iframe>
              </div>
          </div>
      </div>
  </div>
  <div class="col-6">
    <div class="card h-100">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <a [href]="qca_calc.web_link"><h4 class="card-title">{{qca_calc.name}}</h4></a>
                <i class="fa fa-github" (click)="qca_calc_link()"></i>
            </div>
            <p class="card-text lead">
                {{qca_calc.desc}}
            </p>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/FWnLsB3XRBo" allowfullscreen></iframe>
          </div>
        </div>
    </div>
</div>
