body {
    background: #DBE2EF;
}

.card {
    background-color: #3F72AF;
    color: white
}

.btn-general {
    background-color: #e1552f;
    color: #f2ebca;
    font-family: monospace;
}

.btn:hover {
    color: white;
    
}

.card-colour {
    background: #f2ebca;
}

.font {
    font-family: monospace;
}
